<H1>Data Science Tools and Ecosystem.

In this notebook, Data Science Tools and Ecosystem are Summarized.

Some of popular languages that Data Scientists use are:
* Python
* R
* SQL

Some of the commonly used libraries used by Data Scientists include:
* ggplot
* dplyr
* Numpy

| Data Science Tools |
| ----- |
| Apache Spark |
| Anaconda |
| Julia |

<H3>Below are a few examples of evaluating arithmetric expressions in Python

In [2]:
(3*4)+5
# This a simple arithmetric expression to multiply then add integers

17

In [5]:
200 / 60
# This will convert 200 minutes to hours by dividing by 60

3.3333333333333335

##Objectives:
<ul>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>

## Author
Shinya